.flexDisplay
{
    display: flex;
}







/* TABLE STUFF FOR SCORES.PHP */
.tableHeader
{
    font-size: larger;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td
{
    text-align: center;
}